# Токен бота Telegram, получить - https://t.me/BotFather
BOT_TOKEN=

# API для вывода погоды, получить - https://openweathermap.org/api
OWM_API_KEY=

# API для конвертации валюты, получить - https://www.exchangerate-api.com/
EXCHANGE_API_KEY=

# Опция отладки. Базовое значение: False
DEBUG=